{% extends 'base.html' %}
{% block title %}
Articles
{% endblock %}

{% block content %}
    
    <h1>Articles list</h1>
    <div class="articles">
    {% for article in articles %}
        <div class="article">
            <h2><a href ="{% url 'articles:Detail' slug=article.slug %}">{{article.title}}</a></h2>
        <!-- inja zdim ke vaghte bade article harchi bznim bere soragh detail az tarig slug article dakhel urls name va slug bhsh ddim ta bere onja va az slug onja ke byd esmesh ba in yeki bshe bgire va biaire
         -->
            <p>{{article.snippet}}</p>
            <p>{{article.date}}</p>
            <p class="author">added by {{ article.author.username }}</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}
